# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
node_modules
.vs/gcisl-fullstackapp/v17/Browse.VC.db
.vs/gcisl-fullstackapp/FileContentIndex/105174ce-f1f7-40a2-af20-905445721b35.vsidx
.vs/gcisl-fullstackapp/FileContentIndex/24405892-d1b6-4c98-8e4b-9ecab3b290c2.vsidx
.vs/gcisl-fullstackapp/FileContentIndex/3c370360-c128-4fdf-ba66-2c0230681743.vsidx
.vs/gcisl-fullstackapp/FileContentIndex/7401c8bc-b970-4ad1-98f5-5577a6b3c00a.vsidx
.vs/gcisl-fullstackapp/FileContentIndex/ee4e0291-8dcf-486f-842d-5466ed9da093.vsidx
.vs/gcisl-fullstackapp/v17/Browse.VC.db-shm
.vs/gcisl-fullstackapp/v17/Browse.VC.db-wal
.vs/gcisl-fullstackapp/v17/Browse.VC.opendb
.vs/slnx.sqlite
.vs/gcisl-fullstackapp/FileContentIndex/5616765d-79d3-43ee-8e21-4b07062163ef.vsidx
.vs/gcisl-fullstackapp/FileContentIndex/7645bf0b-ace3-47b9-a8c7-66428b97cb96.vsidx
.vs/gcisl-fullstackapp/FileContentIndex/fefa497e-b2bf-4d4d-979e-5c2e78a55659.vsidx
.vs/gcisl-fullstackapp/FileContentIndex/a6151a1f-3b80-4d5d-b181-56d0101366de.vsidx
.vs/gcisl-fullstackapp/FileContentIndex/7cc4c2cb-6fe0-41b1-9643-e115de87842e.vsidx
.vs/gcisl-fullstackapp/v17/Browse.VC.db
.vs/gcisl-fullstackapp/v17/Browse.VC.db-shm
.vs/gcisl-fullstackapp/v17/Browse.VC.db-wal
