<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361937343670-t4j2jp77n5ooorb9jcfv6grpoolmvba0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361937343670-t4j2jp77n5ooorb9jcfv6grpoolmvba0</string>
	<key>API_KEY</key>
	<string>AIzaSyAgvdxU2rwK02exWn2lRLMhoUgzCVjOZg8</string>
	<key>GCM_SENDER_ID</key>
	<string>361937343670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gcislApp</string>
	<key>PROJECT_ID</key>
	<string>cobb-connect</string>
	<key>STORAGE_BUCKET</key>
	<string>cobb-connect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361937343670:ios:4c0869ddeba3b4a804c217</string>
	<key>DATABASE_URL</key>
	<string>https://cobb-connect-default-rtdb.firebaseio.com</string>
</dict>
</plist>